*{
    overflow-x: hidden;
}
body{
   
    padding: 0px;
    margin: 0px;
}
/* main container */
body, .container-fluid{
    padding: 0;
    margin: 0;
}

.logo{
    width: 100px;
    height: 80px;
    float: left;
    object-fit: contain;
    
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
}
.menu li{
    font-weight: 700;
}
.common{
    width: 30px;
    /* height: 80px; */
    object-fit: contain;
}
.cart-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.hero{
    object-fit: contain;
    width: 100%;
}

.testimonial{
    margin:50px 0 50px 0
    /* background-color: black; */
}
.gap{
    row-gap: 5px;
}
.products{
    display: flex;
    justify-content: space-evenly;
}
.num-products{
    display: flex;
    width: 25%;
    object-fit: contain;
    flex-direction: column;
    
}
.num-products span{
    font-size: 20px;
    font-weight: 700;
}
.line{
    margin: 50px 0 50px 0;
}
.four-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 600px) {
    .four-boxes {
        grid-template-columns: 1fr;
    }
}

.second{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0 50px 0;

}
.second-area{
    display: flex;
    flex-direction: column;
    width: 25%;

}
.second-area img{
    width: 100%;
    object-fit: contain;
}
.second-area-box{
    margin: 50px 0 0 0;
}
.second-area-box h2{
    font-size: 20px;
    font-weight: 700;
}

.second-area span{
    font-size: 20px;
    font-weight: 700;
}
.second-line{
    margin-bottom: 50px;
}
.podcast{
    padding: 0;
    margin: 0 0 50px 0 ;
}
.blogs-title{
    margin-bottom: 50px;
}
.blogs-img{
    display: flex;
    justify-content: space-evenly;
    
}